<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat room</title>
    <link rel="stylesheet" href="../Content/chat.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <div class="chat_container">
        <div class="chat_box">
            <div id="chatRoom" class="chat_message">
            </div>
            <div class="chat_input">
                <input type="text" class="sendMsg" id="send-msg" placeholder="請輸入訊息">
            </div>
        </div>
    </div>
    <script src="../Scripts/chat.js"></script>
</body>
</html>