<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>chat room</title>
    <script src=""></script>
    <link rel="stylesheet" type="text/css" href="../Content/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="enter-block">
            <div class="heading">
                <span class="heading-text">Chat Room</span>
            </div>
            <div class="input-block">
                <div class="input-line">
                    <input id="nickname" type="text" size="20" placeholder="enter your nickname" />
                </div>
                <div class="btn-line">
                    <button id="enter-btn">start chat</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../Scripts/index.js"></script>
</body>
</html>